@import url('https://rsms.me/inter/inter.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css');

html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.activeSub{
  text-align: center;
  margin-bottom: 36px;
}

.container {
    overflow: hidden;
    padding: 0 1em;
    max-width: 32.5em;
    margin: auto;
}

.pagination{margin-top: 20px;}

.header {
    margin-top: 20px;
    margin-bottom: 32px;
}


/*Saved subreddits*/
.bookmark_subs span {
    margin-right: 5px;
}

.bookmark_subs button {
  background-color: white;
  border: none;
  color: cornflowerblue;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bookmark_subs {
    text-align: center;
}

.bookmark_subs ul {
    padding: 0px;
    list-style: none;
}


/*Default listings*/
.container ul li {margin-bottom: 8px;}
ul.listings {
  /* padding: 0px; */
  padding-left: 20px;
}

.subDesc { display:none; }
.bookmark_subs:hover .subDesc { display:block; }

.listings li {margin-top: 20px;}
.listings a:visited {color:initial}
.listings a:active {color: blue;}
.listings a:link {text-decoration: none;}

/*menu css*/

.menu {
  background:#f0f0f0;
  /*display:none;*/
  width:100%;
}

.menu ul {
/*  font-family: 'Merriweather', serif;*/
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.menu ul li {
  color:#333;
  font-size:12px;
  letter-spacing:2px;
  padding:15px 0;
  text-transform:uppercase;
}
.menu ul li:hover {
  background:#e9e9e9;
}
.menu a {
  text-decoration:none;
  color: #333;
}
.menu-toggle {
  background:none;
  color: #333;
  width:100%;
  text-align:center;
  padding:10px 0;
  font-size:25px;
}

.menu-toggle a:visited {
  color: black;
}

/*toggle menu*/
.toggle-slider {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.toggle-slider.closed {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

/*search area*/
.smpl_btn {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 8px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.searchField input{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  -moz-box-shadow: 1px 1px 4px #EBEBEB;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}

.searchArea {
    text-align: center;
}

.searchField {
    margin-bottom: 15px;
}


@media only screen and (max-width: 480px){
    .container {
        width: auto;
    } 
}
