@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.container {
    overflow: hidden;
    padding: 0 1em;
    max-width: 32.5em;
    margin: auto;
}

.pagination{margin-top: 20px;}

.header {
    margin-top: 20px;
    margin-bottom: 32px;
}

.bookmark_subs span {
    margin-right: 5px;
}

.bookmark_subs button {
  background-color: white;
  border: none;
  color: cornflowerblue;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container ul li {margin-bottom: 8px;}
ul.listings {
    /* padding: 0px; */
    padding-left: 1px;
}

.subDesc { display:none; }
.bookmark_subs:hover .subDesc { display:block; }

.listings li {margin-top: 20px;}
.listings a:visited {color:initial}
.listings a:active {color: blue;}
.listings a:link {text-decoration: none;}

@media only screen and (max-width: 480px){
    .container {
        width: auto;
    } 
}
